[submodule "assets/html5"]
	path = assets/html5
	url = https://github.com/happygui/happygui-html5.git
[submodule "src/org/json"]
	path = src/org/json
	url = https://github.com/douglascrockford/JSON-java.git
